fastapi==0.110.0
uvicorn==0.28.0
chromadb==0.4.24
pypdf==4.1.0

langchain==0.3.27
langchain-core==0.3.75
langchain-community==0.3.27
langchain-text-splitters==0.3.9
langchain-huggingface==0.3.1
langchain-groq==0.3.8

sentence-transformers==2.6.0
python-dotenv==1.0.1
